#wrap{
	border : 1px solid;
}

#wrap section{
	width : 100%;
}

#slide {
	width : 800px;
	height : 600px;
	margin : auto;
}

#slide div{
	width : 400px;
	height : 300px;
	float : left;
	background-color: yellow;
}

#slide div img {
	display : block;
	margin : auto;
}


#temparea img{
	display: block;
}
