@charset "UTF-8";

#musicSelectWrap{
	margin-top : 200px;
	font-family : "Nanum Gothic";
}

.gsc-input input{
	border-radius : 5px;
}

.gsc-search-button input[type="button"]{
	width 		: 40px;
	height 		: 40px;
	border 		: 1px solid rgba(213, 221, 228, 1);
	border-radius : 5px;
	background 	: RGBA(255, 255, 255, 1);
}

#musicSelectWrap input[type="text"]{
	width 		: 400px;
	height 		: 40px;
}

#musicSelectWrap ul{
	margin 		: auto;
	width 		: 900px;
	padding 	: 0px;
	text-align	: center;
	margin-top 	: 30px;
	margin-bottom : 150px;
 	border 		: 1px solid RGBA(207, 207, 207, 1);
	border-radius : 5px;
	box-shadow 	: 0px 0px 2px RGBA(207, 207, 207, 1);
	background 	: RGBA(255, 255, 255, 1);

}

#musicSelectWrap ul li{
	display 	: inline-block;
	width 		: 270px;
	margin 		: 10px;
	height 		: 200px;
	padding 	: 10px;
	border-radius : 10px;
  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

#musicSelectWrap ul li img {
	width 		: 150px;
	margin-bottom : 10px;
}

#musicSelectWrap ul li p {
	display 	: block;
	margin 	: auto;
	width 		: 200px;
	text-overflow:ellipsis;
}


#musicSelectWrap > div:nth-child(1){
	margin 		: auto;
	margin-bottom : 20px;
	width 		: 900px;
	height 		: 250px;
	text-align 	: center;
	border 		: 1px solid RGBA(207, 207, 207, 1);
	border-radius : 5px;
	box-shadow 	: 0px 0px 2px RGBA(207, 207, 207, 1);
	background 	: RGBA(255, 255, 255, 1);

}

#musicSelectWrap > div:nth-child(1) > article:nth-child(3) {
	width : 300px;
	height : 200px;
	border : 1px solid;
	display : inline-block;
}

#musicSelectWrap > div:nth-child(1) > article > input{
	width : 50px;
	height : 20px;
}

#musicSelectWrap div p{
	margin-top : 70px;
	font-size :40px;
}

#musicSelectWrap div iframe{
	margin-top : 20px;
	margin-left : auto;
	margin-right : auto;
	display : inline-block;
	box-shadow 	: 0px 0px 5px RGBA(50, 50, 50, 1);
}

#musicSelectWrap div span{
	margin-top : 20px;
}

#musicSelectWrap > article{
	margin 		: auto;
	margin-bottom : 20px;
	width 		: 400px;
}

