@charset "UTF-8";

#photoSelectWrap {
	font-family	: helvetica;
	width 		: 100%;
	height 		: 100%;
	background-color : #E9E4DB;
}

#search {
	font-family : helvetica;
	padding-top : 30px;
	margin-top 	: 120px;
}

#search form {
	margin 		: auto;
	padding-top : 10px;
	width		: 320px;
	height		: 30px;
	text-align	: center;
	border 		: 1px solid black;
	border-radius : 8px;
	background-color : white;
}

/* CSS Selector 공부하기 */
#search form > input[type="text"] {
	width 		: 300px;
	border 		: 0px solid black;
}

::-webkit-input-placeholder {
	color 		: black;
}

#overview {
	background-color : white;
	width 		: 874px;
	margin 		: auto;
	border 		: 1px solid gray;
	overflow 	: auto;
	margin-top 	: 30px;
	margin-bottom : 150px;
	border-radius : 8px;
}

#overview div {
	margin 		: 10px;
	width 		: auto;
	height 		: auto;
	display 	: inline-block;
	border 		: 1px solid gray;
}

#overview div img {
	border 		: 1px solid gray;
	margin 		: 3px;
	width 		: 188px;
	height 		: 135px;
}
