@CHARSET "UTF-8";

body {
	width 	: 100%;
	background 	: url("http://cfile4.uf.tistory.com/image/0364E34D50FFAC481BB9F6");
	background-size : cover;
}

header {
	height 	: 100px;
	background 	: RGBA(71, 71, 71, 1);
	text-align 	: center;
	padding-top : 25px;
}

header a{
	font-family : "Exo";
	color 		: RGBA(137, 252, 203, 1);
	font-size 	: 50px;
}

h1 {
	text-align : center;	
	color 	: RGBA(255, 255, 255, 0.8);
	font-family : "Nanum Gothic";
	font-size 	: 50px;
	margin 	: 40px 0px;
}

ul {
	color 	: white;
	width 	: 90%;
	border 	: 1px solid RGBA(137, 252, 203, 1);
	margin 	: auto;
	padding : 20px;
	margin-bottom : 20px;
	border-radius 	: 10px;
	box-sizing 	: border-box;
	-moz-box-sizing 	: border-box;
	-webkit-box-sizing 	: border-box;
}

ul li {
	text-align 	: center;
	border-top 	: 1px solid RGBA(137, 252, 203, 1);
	padding 	: 40px 0px;
}
	
ul li:nth-child(1) {
	border-top 	: none;
}

ul li span {
	background : RGBA(0, 0, 0, 0.7);
	font-family : "Nanum Gothic";
	font-size 	: 30px;	
}

ul li span:nth-child(1) {
	font-size : 50px;
}
	

ul li div {
	margin : 30px 0px;
}

button {
	font-family : "Nanum Gothic";
	height : 150px;
	width : 90%;
	display : block;
	margin : 40px auto;
	border 	: 1px solid RGBA(137, 252, 203, 1);
	border-radius 	: 10px;
	background : none;
	color : RGBA(137, 252, 203, 1);
	font-size : 50px;
}
