@CHARSET "UTF-8";

body{
 	background-color : RGBA(71, 71, 71, 1);
}

h1{
	text-align 	: center;
	margin-top 	: 200px;
	font-family : 'Exo';
	font-size 	: 100px;
}

h1 a{
	color 		: RGBA(71, 71, 71, 1);
	letter-spacing 	:5px;
	text-shadow 	: 0 0 1px RGBA(140, 255, 207, 1);
	-webkit-text-stroke-width : 1px;
	-webkit-text-stroke-color : RGBA(140, 255, 207, 1);
}
