@charset "UTF-8";

header{
	width		: 100%;
	height 		: 50px;
	position	: fixed;
	z-index		: 1000; /* highest layer */
	top 		: 0;
	left 		: 0;
	padding 	: 5px 10px; /* total height : 50+10 */
	text-align 	: center;
	font-size	: 30px;
	font-family : "Exo";
	background-color : rgba(71, 71, 71, 1);
}

header > a:nth-child(1){
	color 		: #8CFFCF;
	text-shadow : 0px 0px 1px #004226;
	line-height	: 50px;
}

body {
	background 	: url("http://www.nhnnext.org/static/20140425/16/bg.jpg");
    background-size : cover;
}

#resultWrap{
	margin-top 	: 100px;
	width		: 960px;
	display 	: block;
	height		: 480px;
	text-align 	: -webkit-center;
}

#resultWrap div{
	display 	: block;
	width		: 960px;
	text-align 	: left;
	margin-bottom : 8px;
}

#resultWrap > div > button {
	width 		: 150px;
	height 		: 50px;
	color 		: RGBA(187, 214, 232, 1);
	font-family : 'Nanum Gothic';
	font-weight : lighter;
    border		: 1px solid RGBA(187, 214, 232, 1);
    background 	: RGBA(0, 0, 0, 0.7);
	letter-spacing : 1em;
}

#info {
	display 	: inline-block;
	width : 200px;
	height : 300px;
	border : 1px solid white;
}

/*슬라이드가 재생되는 부분*/
#slide {
	display 	: inline-block;
	width 		: 642px;
	height 		: 482px;
    box-sizing 	: border-box;
    border		: 1px solid RGBA(187, 214, 232, 1);
    background 	: RGBA(71, 71, 71, 0.6);
    -moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

#slide img {
	height 		: 480px;
	display 	: block;
	margin 		: auto;
}

/*오디오가 재생되는 부분*/
#player {
	width 		: 150px;
	height 		: 100px;
    box-sizing 	: border-box;
    -moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	position 	: relative;
	top 		: -10px;
  	left 		: -165px;
}

#temparea img{
	display 	: block;
}