<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Chapter1 Servlet</servlet-name>
		<servlet-class>headFirst.Ch1Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ch3 Beer</servlet-name>
		<servlet-class>headFirst.BeerSelect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CodeReturn</servlet-name>
		<servlet-class>headFirst.CodeReturn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BeerParamTests</servlet-name>
		<servlet-class>headFirst.TestInitParams</servlet-class>
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>woonohyo@nhnnext.org</param-value>
		</init-param>
		<init-param>
			<param-name>mainEmail</param-name>
			<param-value>wonhyo.yi@gmail.com</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Chapter1 Servlet</servlet-name>
		<url-pattern>/Serv1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ch3 Beer</servlet-name>
		<url-pattern> /SelectBeer.do </url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CodeReturn</servlet-name>
		<url-pattern>/codeReturn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BeerParamTests</servlet-name>
		<url-pattern>/Tester.do</url-pattern>
	</servlet-mapping>
</web-app>
